<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Study</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<a class="ms-2 mt-2 btn btn-secondary" th:href="@{/decks}">
    Back to decks
</a>
<div class="d-flex align-items-center mt-3 justify-content-center h1" th:text="${deck}"></div>

<nav class="navbar navbar-light bg-light my-5">
    <form class="container-fluid justify-content-center">
        <a class="btn btn-success me-5" type="button" th:href="@{/study/{id}/new(id=${deckId})}">Add Card</a>
        <a class="btn btn-primary me-5" type="button" th:href="@{/study/edit/{deckId}/{cardId}(deckId=${deckId}, cardId=${card.getCardId()})}">Edit Card</a>
        <a class="btn btn-secondary me-5" type="button" th:href="@{/study/{id}/list(id=${deckId})}">List Cards</a>
        <a class="btn btn-danger" type="button" th:href="@{/study/delete/{deckId}/{cardId}(deckId=${deckId}, cardId=${card.getCardId()})}">Delete Card</a>


    </form>
</nav>


<div class="container d-flex mb-3 align-items-center justify-content-center" th:text="${card.frontSide}">

</div>
<div class="collapse multi-collapse" id="answer-div">
    <div id="answer" class="container d-flex align-items-center justify-content-center" th:text="${card.backSide}">

    </div>
</div>


<div class="container d-flex align-items-start justify-content-center my-3">
    <button class="btn btn-secondary me-3" type="button" , data-bs-toggle="collapse" data-bs-target=".multi-collapse"
            aria-expanded="false" aria-controls="answer-div next-button-div">
        Show Answer
    </button>
    <div class=" ms-5 collapse multi-collapse" id="next-button-div">
        <div id="btns" class="d-flex">
            <a class="btn me-2 btn-danger" th:href="@{/wrong/{deckId}/{cardId}(deckId=${deckId}, cardId=${card.getCardId()})}">
                Wrong
            </a>
            <a class="btn btn-success" th:href="@{/correct/{deckId}/{cardId}(deckId=${deckId}, cardId=${card.getCardId()})}">
                Correct
            </a>

        </div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">

</script>
</body>

</html>